:root {
  --border: 5px;

  --main-font: sans-serif;
  --text-size: 15px;

  --bg-page: #3c384d;
  --bg-main: #EBDFDC;
  --bg-input: #3c384d;

  --accent-color: #ffffff;
  --text-dark: #3c384d;
}

body {
  background-color: var(--bg-page);
  font-family: var(--main-font);
  font-size: var(--text-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-top: 40px;
  margin: 50px auto;
  max-width: 500px;
  min-height: 90%;
  border-radius: var(--border);
  background-color: var(--bg-main);
}

h1 {
  text-align: center;
  font-family: var(--main-font);
  color: var(--text-white);
  font-size: 55px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

input {
  height: 28px;
  width: 300px;
  padding-left: 5px;
  border-radius: 5px 0 0 5px;
  color: var(--bg-main);
  background-color: var(--bg-input);
}

input::placeholder {
  font-family: var(--main-font);
  font-size: var(--text-size);
}

.search-btn {
  padding: 5px;
  border-radius: 0 5px 5px 0;
  font-size: var(--text-size);
  font-family: var(--main-font);
  color: var(--text-dark);
  background-color: var(--accent-color);
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.city-name {
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--accent-color);
}

.temp {
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--accent-color);
}

.weather-description {
  text-align: center;
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    margin: 30px auto;
  }

  .h1 {
    font-size: 50px;
  }

  input {
    width: 70%;
  }

  li {
    max-width: 90%;
  }

}